h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

header {
  nav {
    transition: all 0.3 ease;
    .navbar-nav {
      .nav-item {
        padding: 0 50px 0 0;
        .nav-link {
          text-decoration: none;
          line-height: 40px;
          font-weight: 600;
          font-size: 13px;
          color: #fff;
          font-family: "Poppins", sans-serif;
          padding: 0;
        }
      }
    }
  }

  .social {
    @media (max-width: 768px) {
      margin-top: 20px;
    }
    ul {
      display: flex;
      align-content: flex-end;
      list-style: none;
      gap: 1em;
      margin: 0;
      padding: 0;
      li {
        a {
          font-size: 15px;
          color: #fff;
        }
      }
    }
  }
}

header.scrolled {
  nav {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #181818;
        }
      }
    }
  }

  .social {
    ul {
      li {
        a {
          color: #000;
        }
      }
    }
  }
}
#hero {
  background-image: url(/img/hero_home_02.jpg);
  background-position-y: 0px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 16em 0;
  .content {
    font-family: "Poppins", sans-serif;
    p {
      color: #ff8073;
      font-size: 1.1rem;
      margin-bottom: 0.5em;
      font-weight: 600;

      text-transform: uppercase;
    }
    h2 {
      font-size: 3.8rem;
      color: #fff;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 3.8rem;
      color: #7ec789;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 40px;
    }
    a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      box-shadow: 0 0 0 3em #ff8073 inset;
      color: #ffffff;
      border-radius: 50px;
      line-height: 1.1;
      padding: 1.4em 2.6em;
      font-weight: 600;
      font-size: 0.9em;
      letter-spacing: 0.5px;
      transition: all 300ms ease;
      // padding: calc(0.667em + 2px) calc(1.333em + 2px);
    }
  }
}

#features {
  padding: 4em 0;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
